.main {
  display: flex;
  flex-direction: column;
  gap: clamp(45px, 4.25vw, 60px);
  background-color: var(--color-dark);
}

.main-wrapper {
  position: relative;
  z-index: 20;
  background-color: white;
  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 40px;
}

.main-container {
  display: flex;
  flex-direction: column;
  gap: clamp(36px, 3.6vw, 51px);
  padding-block: clamp(25px, 2.4vw, 36px) clamp(45px, 4.25vw, 60px);
}

.policy-title {
  font-family: var(--font-secondary);
  font-size: clamp(
    calc(32px * 1025 / 1400 * var(--zoom-1)),
    calc(100vw * 32 / 1400 * var(--zoom-1)),
    calc(32px * 1720 / 1400 * var(--zoom-1))
  );
  font-weight: 500;
  color: var(--color-dark);
  padding-bottom: clamp(
    calc(40px * 1025 / 1400 * var(--zoom-1)),
    calc(100vw * 40 / 1400 * var(--zoom-1)),
    calc(40px * 1720 / 1400 * var(--zoom-1))
  );
  border-bottom: 1px solid rgba(160, 167, 170, 0.5);
}

.policy {
  display: flex;
  flex-direction: column;
  gap: clamp(
    calc(40px * 1025 / 1400 * var(--zoom-1)),
    calc(100vw * 40 / 1400 * var(--zoom-1)),
    calc(40px * 1720 / 1400 * var(--zoom-1))
  );
  font-size: clamp(
    calc(18px * 1025 / 1400 * var(--zoom-1)),
    calc(100vw * 18 / 1400 * var(--zoom-1)),
    calc(18px * 1720 / 1400 * var(--zoom-1))
  );
  line-height: 160%;
  font-weight: 500;
}

.policy-subtitle {
  font-size: clamp(
    calc(24px * 1025 / 1400 * var(--zoom-1)),
    calc(100vw * 24 / 1400 * var(--zoom-1)),
    calc(24px * 1720 / 1400 * var(--zoom-1))
  );
  font-weight: 700;
  line-height: 160%;
}

.policy-content dt,
.policy-content dd {
  display: inline;
}

.consult {
  background-color: transparent;
  position: relative;
  z-index: 20;
}

.consult-wrapper {
  background-color: white;
  padding: clamp(
    calc(40px * 1025 / 1400 * var(--zoom-1)),
    calc(100vw * 40 / 1400 * var(--zoom-1)),
    calc(40px * 1440 / 1400 * var(--zoom-1))
  );
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: clamp(
    calc(26px * 1025 / 1400 * var(--zoom-1)),
    calc(100vw * 26 / 1400 * var(--zoom-1)),
    calc(26px * 1440 / 1400 * var(--zoom-1))
  );
  border-radius: 20px;
  box-shadow: 0 15px 20px 15px rgba(21, 30, 48, 0.05);
}

.consult-content {
  display: flex;
  flex-direction: column;
  gap: clamp(
    calc(40px * 1025 / 1400 * var(--zoom-1)),
    calc(100vw * 40 / 1400 * var(--zoom-1)),
    calc(40px * 1440 / 1400 * var(--zoom-1))
  );
  justify-content: space-between;
  padding-right: clamp(
    calc(40px * 1025 / 1400 * var(--zoom-1)),
    calc(100vw * 40 / 1400 * var(--zoom-1)),
    calc(40px * 1440 / 1400 * var(--zoom-1))
  );
}

.consult-info {
  display: flex;
  flex-direction: column;
  gap: clamp(
    calc(40px * 1025 / 1400 * var(--zoom-1)),
    calc(100vw * 40 / 1400 * var(--zoom-1)),
    calc(40px * 1440 / 1400 * var(--zoom-1))
  );
}

.consult-phone-wrapper {
  display: flex;
  gap: clamp(
    calc(32px * 1025 / 1400 * var(--zoom-1)),
    calc(100vw * 32 / 1400 * var(--zoom-1)),
    calc(32px * 1440 / 1400 * var(--zoom-1))
  );
  min-width: 0;
}

.consult-phone {
  display: flex;
  flex-direction: column;
  color: var(--color-dark);
  font-weight: 600;
  min-width: 0;
}

.consult-phone-number {
  font-size: clamp(
    calc(25px * 1025 / 1400 * var(--zoom-1)),
    calc(100vw * 25 / 1400 * var(--zoom-1)),
    calc(25px * 1440 / 1400 * var(--zoom-1))
  );
  text-wrap: nowrap;
}

.consult-phone-details {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 6px;
}

.consult-phone-city {
  display: flex;
  gap: 5px;
  align-items: center;
  font-size: clamp(
    calc(16px * 1025 / 1400 * var(--zoom-1)),
    calc(100vw * 16 / 1400 * var(--zoom-1)),
    calc(16px * 1440 / 1400 * var(--zoom-1))
  );
  letter-spacing: -2%;
}

.consult-phone-city .dot {
  background-color: var(--color-lightgreen);
  height: 1em;
  aspect-ratio: 1;
  border-radius: 50%;
  position: relative;
}

.consult-phone-city .dot::after {
  content: "";
  display: inline-block;
  width: 30%;
  aspect-ratio: 1;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: var(--color-green);
}

.consult-phone-hours {
  color: var(--color-grayblue);
  font-size: clamp(
    calc(14px * 1025 / 1400 * var(--zoom-1)),
    calc(100vw * 14 / 1400 * var(--zoom-1)),
    calc(14px * 1440 / 1400 * var(--zoom-1))
  );
  letter-spacing: -2%;
  text-wrap: nowrap;
}

.consult-email-wrapper {
  display: flex;
  flex-direction: column;
  gap: clamp(
    calc(10px * 1025 / 1400 * var(--zoom-1)),
    calc(100vw * 10 / 1400 * var(--zoom-1)),
    calc(10px * 1440 / 1400 * var(--zoom-1))
  );
}

.consult-email-label {
  color: var(--color-grayblue);
  font-size: clamp(
    calc(12px * 1025 / 1400 * var(--zoom-1)),
    calc(100vw * 12 / 1400 * var(--zoom-1)),
    calc(12px * 1440 / 1400 * var(--zoom-1))
  );
}

.consult-email-address {
  color: var(--color-dark);
  font-size: clamp(
    calc(24px * 1025 / 1400 * var(--zoom-1)),
    calc(100vw * 24 / 1400 * var(--zoom-1)),
    calc(24px * 1440 / 1400 * var(--zoom-1))
  );
  font-weight: 700;
}

.consult-details {
  display: flex;
  flex-direction: column;
  gap: clamp(
    calc(26px * 1025 / 1400 * var(--zoom-1)),
    calc(100vw * 26 / 1400 * var(--zoom-1)),
    calc(26px * 1440 / 1400 * var(--zoom-1))
  );
}

.consult-details-text {
  font-size: clamp(
    calc(16px * 1025 / 1400 * var(--zoom-1)),
    calc(100vw * 16 / 1400 * var(--zoom-1)),
    calc(16px * 1440 / 1400 * var(--zoom-1))
  );
  line-height: 160%;
  font-weight: 500;
  color: var(--color-gray);
}

.consult-manager {
  display: flex;
  gap: clamp(
    calc(24px * 1025 / 1400 * var(--zoom-1)),
    calc(100vw * 24 / 1400 * var(--zoom-1)),
    calc(24px * 1440 / 1400 * var(--zoom-1))
  );
  align-items: center;
}

.consult-manager-image {
  width: clamp(
    calc(100px * 1025 / 1400 * var(--zoom-1)),
    calc(100vw * 100 / 1400 * var(--zoom-1)),
    calc(100px * 1440 / 1400 * var(--zoom-1))
  );

  aspect-ratio: 1;
  border-radius: 10px;
  object-fit: cover;
}

.consult-manager-content {
  display: flex;
  flex-direction: column;
  gap: clamp(
    calc(10px * 1025 / 1400 * var(--zoom-1)),
    calc(100vw * 10 / 1400 * var(--zoom-1)),
    calc(10px * 1440 / 1400 * var(--zoom-1))
  );
}

.consult-manager-name {
  font-size: clamp(
    calc(16px * 1025 / 1400 * var(--zoom-1)),
    calc(100vw * 16 / 1400 * var(--zoom-1)),
    calc(16px * 1440 / 1400 * var(--zoom-1))
  );
  font-weight: 600;
  line-height: 140%;
}

.consult-manager-description {
  font-size: clamp(
    calc(14px * 1025 / 1400 * var(--zoom-1)),
    calc(100vw * 14 / 1400 * var(--zoom-1)),
    calc(14px * 1440 / 1400 * var(--zoom-1))
  );
  line-height: 110%;
  color: var(--color-gray);
  font-weight: 500;
}

.consult-form-wrapper {
  width: 100%;
  aspect-ratio: 2 / 1;
  display: flex;
  flex-direction: column;
  gap: clamp(
    calc(24px * 1025 / 1400 * var(--zoom-1)),
    calc(100vw * 24 / 1400 * var(--zoom-1)),
    calc(24px * 1440 / 1400 * var(--zoom-1))
  );
  background-color: #f2f7fe;
  padding: clamp(
    calc(40px * 1025 / 1400 * var(--zoom-1)),
    calc(100vw * 40 / 1400 * var(--zoom-1)),
    calc(40px * 1440 / 1400 * var(--zoom-1))
  );
  border-radius: 20px;
}

.consult-form-title {
  font-size: clamp(
    calc(22px * 1025 / 1400 * var(--zoom-1)),
    calc(100vw * 22 / 1400 * var(--zoom-1)),
    calc(22px * 1440 / 1400 * var(--zoom-1))
  );
  font-weight: 700;
  line-height: 160%;
  color: var(--color-gray);
}

.consult-form-title .dark {
  color: var(--color-dark);
}

.consult-form {
  display: flex;
  flex-direction: column;
  gap: clamp(
    calc(16px * 1025 / 1400 * var(--zoom-1)),
    calc(100vw * 16 / 1400 * var(--zoom-1)),
    calc(16px * 1440 / 1400 * var(--zoom-1))
  );
  font-size: clamp(
    calc(18px * 1025 / 1400 * var(--zoom-1)),
    calc(100vw * 18 / 1400 * var(--zoom-1)),
    calc(18px * 1440 / 1400 * var(--zoom-1))
  );
  font-weight: 600;
}

.consult-form-input-wrapper {
  position: relative;
  width: 100%;
}

.consult-form-input-wrapper::before {
  content: "";
  display: inline-block;
  width: clamp(
    calc(24px * 1025 / 1400 * var(--zoom-1)),
    calc(100vw * 24 / 1400 * var(--zoom-1)),
    calc(24px * 1440 / 1400 * var(--zoom-1))
  );
  aspect-ratio: 1;
  position: absolute;
  left: clamp(
    calc(24px * 1025 / 1400 * var(--zoom-1)),
    calc(100vw * 24 / 1400 * var(--zoom-1)),
    calc(24px * 1440 / 1400 * var(--zoom-1))
  );
  top: 50%;
  transform: translateY(-50%);
}

.consult-form-input-wrapper.name::before {
  background: url(/assets/icons/user.svg) center/contain no-repeat;
}

.consult-form-input-wrapper.phone::before {
  background: url(/assets/icons/phone.svg) center/contain no-repeat;
}

.consult-form > label,
.consult-form button {
  width: 100%;
  padding: clamp(
      calc(20px * 1025 / 1400 * var(--zoom-1)),
      calc(100vw * 20 / 1400 * var(--zoom-1)),
      calc(20px * 1440 / 1400 * var(--zoom-1))
    )
    clamp(
      calc(24px * 1025 / 1400 * var(--zoom-1)),
      calc(100vw * 24 / 1400 * var(--zoom-1)),
      calc(24px * 1440 / 1400 * var(--zoom-1))
    );

  border-radius: 10px;
}

.consult-form button:disabled {
  opacity: 0.7;
}

.consult-form input:not([type="file"]):not([type="checkbox"]) {
  width: 100%;
  padding: clamp(
      calc(20px * 1025 / 1400 * var(--zoom-1)),
      calc(100vw * 20 / 1400 * var(--zoom-1)),
      calc(20px * 1440 / 1400 * var(--zoom-1))
    )
    clamp(
      calc(24px * 1025 / 1400 * var(--zoom-1)),
      calc(100vw * 24 / 1400 * var(--zoom-1)),
      calc(24px * 1440 / 1400 * var(--zoom-1))
    );
  padding-left: clamp(
    calc(64px * 1025 / 1400 * var(--zoom-1)),
    calc(100vw * 64 / 1400 * var(--zoom-1)),
    calc(64px * 1440 / 1400 * var(--zoom-1))
  );
  color: var(--color-dark);
  background-color: white;
  border-radius: 10px;
}

.consult-form input::placeholder {
  color: var(--color-gray);
}

.consult-form input:focus {
  outline: 1.5px solid var(--color-gray);
}

.consult-form input.error {
  border: 1px solid rgb(255, 75, 75);
}

.consult-form-file-label {
  color: var(--color-primary);
  background-color: var(--color-lightblue);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: clamp(
    calc(14px * 1025 / 1400 * var(--zoom-1)),
    calc(100vw * 14 / 1400 * var(--zoom-1)),
    calc(14px * 1440 / 1400 * var(--zoom-1))
  );
}

.consult-form-file-label::before {
  content: "";
  display: inline-block;
  width: clamp(
    calc(24px * 1025 / 1400 * var(--zoom-1)),
    calc(100vw * 24 / 1400 * var(--zoom-1)),
    calc(24px * 1440 / 1400 * var(--zoom-1))
  );
  aspect-ratio: 1;
  background: url(/assets/icons/paperclip.svg) center/contain no-repeat;
}

input[type="file"]#consult-file {
  display: none;
}

.consult-form-checkbox-wrapper {
  display: flex;
  align-items: center;
  gap: clamp(
    calc(10px * 1025 / 1400),
    calc(100vw * 10 / 1400),
    calc(10px * 1440 / 1400)
  );
  justify-content: flex-start;
}

.consult-form-checkbox-wrapper input[type="checkbox"] {
  flex-shrink: 0;
  appearance: none;
  position: relative;
  padding: 0;
  background: #ffffff;
  width: clamp(
    calc(20px * 1025 / 1400 * var(--zoom-1)),
    calc(100vw * 20 / 1400 * var(--zoom-1)),
    calc(20px * 1440 / 1400 * var(--zoom-1))
  );
  height: clamp(
    calc(20px * 1025 / 1400 * var(--zoom-1)),
    calc(100vw * 20 / 1400 * var(--zoom-1)),
    calc(20px * 1440 / 1400 * var(--zoom-1))
  );
  border-radius: 4px;
  border: 1px solid var(--color-gray);
  transition: 500ms;
  outline: none;
}

.consult-form .consult-form-checkbox-wrapper input[type="checkbox"].error {
  border: 1px solid rgb(255, 75, 75);
  background-color: rgb(255, 75, 75, 0.1);
}

.consult-form-checkbox-wrapper input[type="checkbox"]:checked {
  background-color: var(--color-primary);
  border-color: var(--color-primary);
}

.consult-form-checkbox-wrapper input[type="checkbox"]:checked::before {
  content: "";
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: clamp(
    calc(10px * 1025 / 1400),
    calc(100vw * 10 / 1400),
    calc(10px * 1440 / 1400)
  );
  height: clamp(
    calc(10px * 1025 / 1400),
    calc(100vw * 10 / 1400),
    calc(10px * 1440 / 1400)
  );
  background: url(/assets/icons/check.svg) center/contain no-repeat;
}

.consult-form-checkbox-wrapper label {
  padding: 0;
}

.consult-form-checkbox-text {
  display: inline-block;
  font-size: clamp(
    calc(13px * 1025 / 1400 * var(--zoom-1)),
    calc(100vw * 13 / 1400 * var(--zoom-1)),
    calc(13px * 1440 / 1400 * var(--zoom-1))
  );
  line-height: 130%;
  margin-bottom: 0.25em;
}

.consult-form-checkbox-text a {
  color: var(--color-primary);
  font-weight: 600;
  text-decoration: underline;
}

.consult-form-submit-btn {
  color: white;
  background-color: var(--color-primary);
  transition: all 0.3s ease;
}

.consult-form-text {
  text-align: center;
  font-size: clamp(
    calc(11px * 1025 / 1400 * var(--zoom-1)),
    calc(100vw * 11 / 1400 * var(--zoom-1)),
    calc(11px * 1440 / 1400 * var(--zoom-1))
  );
  line-height: 160%;
  font-weight: 500;
  color: var(--color-gray);
}

.consult-form-text a {
  text-decoration: underline;
}

@media screen and (min-width: 2000px) {
  .main {
    gap: 80px;
  }

  .main-container {
    gap: 70px;
    padding-block: 46px 80px;
  }

  .policy-title {
    font-size: clamp(
      calc(32px * 1025 / 1400 * var(--zoom-2)),
      calc(100vw * 32 / 1400 * var(--zoom-2)),
      calc(32px * 1720 / 1400 * var(--zoom-2))
    );
    padding-bottom: clamp(
      calc(40px * 1025 / 1400 * var(--zoom-2)),
      calc(100vw * 40 / 1400 * var(--zoom-2)),
      calc(40px * 1720 / 1400 * var(--zoom-2))
    );
  }

  .policy {
    gap: clamp(
      calc(40px * 1025 / 1400 * var(--zoom-2)),
      calc(100vw * 40 / 1400 * var(--zoom-2)),
      calc(40px * 1720 / 1400 * var(--zoom-2))
    );
    font-size: clamp(
      calc(18px * 1025 / 1400 * var(--zoom-2)),
      calc(100vw * 18 / 1400 * var(--zoom-2)),
      calc(18px * 1720 / 1400 * var(--zoom-2))
    );
  }

  .policy-subtitle {
    font-size: clamp(
      calc(24px * 1025 / 1400 * var(--zoom-2)),
      calc(100vw * 24 / 1400 * var(--zoom-2)),
      calc(24px * 1720 / 1400 * var(--zoom-2))
    );
  }

  .consult-wrapper {
    padding: clamp(
      calc(40px * 1025 / 1400 * var(--zoom-2)),
      calc(100vw * 40 / 1400 * var(--zoom-2)),
      calc(40px * 1440 / 1400 * var(--zoom-2))
    );

    gap: clamp(
      calc(26px * 1025 / 1400 * var(--zoom-2)),
      calc(100vw * 26 / 1400 * var(--zoom-2)),
      calc(26px * 1440 / 1400 * var(--zoom-2))
    );
  }

  .consult-content {
    gap: clamp(
      calc(40px * 1025 / 1400 * var(--zoom-2)),
      calc(100vw * 40 / 1400 * var(--zoom-2)),
      calc(40px * 1440 / 1400 * var(--zoom-2))
    );
    padding-right: clamp(
      calc(40px * 1025 / 1400 * var(--zoom-2)),
      calc(100vw * 40 / 1400 * var(--zoom-2)),
      calc(40px * 1440 / 1400 * var(--zoom-2))
    );
  }

  .consult-info {
    gap: clamp(
      calc(40px * 1025 / 1400 * var(--zoom-2)),
      calc(100vw * 40 / 1400 * var(--zoom-2)),
      calc(40px * 1440 / 1400 * var(--zoom-2))
    );
  }

  .consult-phone-wrapper {
    gap: clamp(
      calc(32px * 1025 / 1400 * var(--zoom-2)),
      calc(100vw * 32 / 1400 * var(--zoom-2)),
      calc(32px * 1440 / 1400 * var(--zoom-2))
    );
  }

  .consult-phone-number {
    font-size: clamp(
      calc(25px * 1025 / 1400 * var(--zoom-2)),
      calc(100vw * 25 / 1400 * var(--zoom-2)),
      calc(25px * 1440 / 1400 * var(--zoom-2))
    );
  }

  .consult-phone-city {
    font-size: clamp(
      calc(16px * 1025 / 1400 * var(--zoom-2)),
      calc(100vw * 16 / 1400 * var(--zoom-2)),
      calc(16px * 1440 / 1400 * var(--zoom-2))
    );
  }

  .consult-phone-hours {
    font-size: clamp(
      calc(14px * 1025 / 1400 * var(--zoom-2)),
      calc(100vw * 14 / 1400 * var(--zoom-2)),
      calc(14px * 1440 / 1400 * var(--zoom-2))
    );
  }

  .consult-email-wrapper {
    gap: clamp(
      calc(10px * 1025 / 1400 * var(--zoom-2)),
      calc(100vw * 10 / 1400 * var(--zoom-2)),
      calc(10px * 1440 / 1400 * var(--zoom-2))
    );
  }

  .consult-email-label {
    color: var(--color-grayblue);
    font-size: clamp(
      calc(12px * 1025 / 1400 * var(--zoom-2)),
      calc(100vw * 12 / 1400 * var(--zoom-2)),
      calc(12px * 1440 / 1400 * var(--zoom-2))
    );
  }

  .consult-email-address {
    font-size: clamp(
      calc(24px * 1025 / 1400 * var(--zoom-2)),
      calc(100vw * 24 / 1400 * var(--zoom-2)),
      calc(24px * 1440 / 1400 * var(--zoom-2))
    );
  }

  .consult-details {
    gap: clamp(
      calc(26px * 1025 / 1400 * var(--zoom-2)),
      calc(100vw * 26 / 1400 * var(--zoom-2)),
      calc(26px * 1440 / 1400 * var(--zoom-2))
    );
  }

  .consult-details-text {
    font-size: clamp(
      calc(16px * 1025 / 1400 * var(--zoom-2)),
      calc(100vw * 16 / 1400 * var(--zoom-2)),
      calc(16px * 1440 / 1400 * var(--zoom-2))
    );
  }

  .consult-manager {
    gap: clamp(
      calc(24px * 1025 / 1400 * var(--zoom-2)),
      calc(100vw * 24 / 1400 * var(--zoom-2)),
      calc(24px * 1440 / 1400 * var(--zoom-2))
    );
  }

  .consult-manager-image {
    width: clamp(
      calc(100px * 1025 / 1400 * var(--zoom-2)),
      calc(100vw * 100 / 1400 * var(--zoom-2)),
      calc(100px * 1440 / 1400 * var(--zoom-2))
    );
  }

  .consult-manager-content {
    gap: clamp(
      calc(10px * 1025 / 1400 * var(--zoom-2)),
      calc(100vw * 10 / 1400 * var(--zoom-2)),
      calc(10px * 1440 / 1400 * var(--zoom-2))
    );
  }

  .consult-manager-name {
    font-size: clamp(
      calc(16px * 1025 / 1400 * var(--zoom-2)),
      calc(100vw * 16 / 1400 * var(--zoom-2)),
      calc(16px * 1440 / 1400 * var(--zoom-2))
    );
  }

  .consult-manager-description {
    font-size: clamp(
      calc(14px * 1025 / 1400 * var(--zoom-2)),
      calc(100vw * 14 / 1400 * var(--zoom-2)),
      calc(14px * 1440 / 1400 * var(--zoom-2))
    );
  }

  .consult-form-wrapper {
    gap: clamp(
      calc(24px * 1025 / 1400 * var(--zoom-2)),
      calc(100vw * 24 / 1400 * var(--zoom-2)),
      calc(24px * 1440 / 1400 * var(--zoom-2))
    );

    padding: clamp(
      calc(40px * 1025 / 1400 * var(--zoom-2)),
      calc(100vw * 40 / 1400 * var(--zoom-2)),
      calc(40px * 1440 / 1400 * var(--zoom-2))
    );
  }

  .consult-form-title {
    font-size: clamp(
      calc(22px * 1025 / 1400 * var(--zoom-2)),
      calc(100vw * 22 / 1400 * var(--zoom-2)),
      calc(22px * 1440 / 1400 * var(--zoom-2))
    );
  }

  .consult-form {
    gap: clamp(
      calc(16px * 1025 / 1400 * var(--zoom-2)),
      calc(100vw * 16 / 1400 * var(--zoom-2)),
      calc(16px * 1440 / 1400 * var(--zoom-2))
    );
    font-size: clamp(
      calc(18px * 1025 / 1400 * var(--zoom-2)),
      calc(100vw * 18 / 1400 * var(--zoom-2)),
      calc(18px * 1440 / 1400 * var(--zoom-2))
    );
  }

  .consult-form-input-wrapper::before {
    width: clamp(
      calc(24px * 1025 / 1400 * var(--zoom-2)),
      calc(100vw * 24 / 1400 * var(--zoom-2)),
      calc(24px * 1440 / 1400 * var(--zoom-2))
    );

    left: clamp(
      calc(24px * 1025 / 1400 * var(--zoom-2)),
      calc(100vw * 24 / 1400 * var(--zoom-2)),
      calc(24px * 1440 / 1400 * var(--zoom-2))
    );
  }

  .consult-form > label,
  .consult-form button {
    padding: clamp(
        calc(20px * 1025 / 1400 * var(--zoom-2)),
        calc(100vw * 20 / 1400 * var(--zoom-2)),
        calc(20px * 1440 / 1400 * var(--zoom-2))
      )
      clamp(
        calc(24px * 1025 / 1400 * var(--zoom-2)),
        calc(100vw * 24 / 1400 * var(--zoom-2)),
        calc(24px * 1440 / 1400 * var(--zoom-2))
      );
  }

  .consult-form input:not([type="file"]):not([type="checkbox"]) {
    padding: clamp(
        calc(20px * 1025 / 1400 * var(--zoom-2)),
        calc(100vw * 20 / 1400 * var(--zoom-2)),
        calc(20px * 1440 / 1400 * var(--zoom-2))
      )
      clamp(
        calc(24px * 1025 / 1400 * var(--zoom-2)),
        calc(100vw * 24 / 1400 * var(--zoom-2)),
        calc(24px * 1440 / 1400 * var(--zoom-2))
      );
    padding-left: clamp(
      calc(64px * 1025 / 1400 * var(--zoom-2)),
      calc(100vw * 64 / 1400 * var(--zoom-2)),
      calc(64px * 1440 / 1400 * var(--zoom-2))
    );
  }

  .consult-form-file-label {
    gap: clamp(
      calc(14px * 1025 / 1400 * var(--zoom-2)),
      calc(100vw * 14 / 1400 * var(--zoom-2)),
      calc(14px * 1440 / 1400 * var(--zoom-2))
    );
  }

  .consult-form-file-label::before {
    width: clamp(
      calc(24px * 1025 / 1400 * var(--zoom-2)),
      calc(100vw * 24 / 1400 * var(--zoom-2)),
      calc(24px * 1440 / 1400 * var(--zoom-2))
    );
  }

  .consult-form-checkbox-wrapper input[type="checkbox"] {
    width: clamp(
      calc(20px * 1025 / 1400 * var(--zoom-2)),
      calc(100vw * 20 / 1400 * var(--zoom-2)),
      calc(20px * 1440 / 1400 * var(--zoom-2))
    );
    height: clamp(
      calc(20px * 1025 / 1400 * var(--zoom-2)),
      calc(100vw * 20 / 1400 * var(--zoom-2)),
      calc(20px * 1440 / 1400 * var(--zoom-2))
    );
  }

  .consult-form-checkbox-text {
    font-size: clamp(
      calc(13px * 1025 / 1400 * var(--zoom-2)),
      calc(100vw * 13 / 1400 * var(--zoom-2)),
      calc(13px * 1440 / 1400 * var(--zoom-2))
    );
  }

  .consult-form-text {
    font-size: clamp(
      calc(11px * 1025 / 1400 * var(--zoom-2)),
      calc(100vw * 11 / 1400 * var(--zoom-2)),
      calc(11px * 1440 / 1400 * var(--zoom-2))
    );
  }
}

@media screen and (max-width: 850px) {
  .main {
    gap: clamp(45px, 7.8vw, 66px);
  }

  .main-container {
    gap: clamp(29px, 5vw, 42px);
    padding-block: clamp(38px, 6.5vw, 56px);
  }

  .policy-title {
    font-size: clamp(29px, 5vw, 42px);
    padding-bottom: clamp(
      calc(40px * 580 / 640),
      calc(100vw * 40 / 640),
      calc(40px * 1024 / 640)
    );
  }

  .policy {
    font-size: clamp(14px, 2.5vw, 21px);
    gap: clamp(29px, 5vw, 42px);
  }

  .policy-subtitle {
    font-size: clamp(18px, 3.1vw, 26px);
  }

  .consult-wrapper {
    grid-template-columns: 1fr;
    gap: clamp(
      calc(40px * 580 / 640),
      calc(100vw * 40 / 640),
      calc(40px * 1024 / 640)
    );

    aspect-ratio: 0.5;
    padding: clamp(
      calc(40px * 580 / 640),
      calc(100vw * 40 / 640),
      calc(40px * 1024 / 640)
    );
  }

  .consult-content {
    padding-right: 0;
    gap: clamp(
      calc(42px * 580 / 640),
      calc(100vw * 42 / 640),
      calc(42px * 1024 / 640)
    );
    justify-content: space-between;
  }

  .consult-form-wrapper {
    aspect-ratio: auto;
  }

  .consult-info {
    gap: clamp(
      calc(40px * 580 / 640),
      calc(100vw * 40 / 640),
      calc(40px * 1024 / 640)
    );
  }

  .consult-phone-wrapper {
    gap: clamp(
      calc(20px * 580 / 640),
      calc(100vw * 20 / 640),
      calc(20px * 1024 / 640)
    );
  }

  .consult-phone-number {
    font-size: clamp(
      calc(25px * 580 / 640),
      calc(100vw * 25 / 640),
      calc(25px * 1024 / 640)
    );
  }

  .consult-phone-details {
    gap: clamp(
      calc(10px * 580 / 640),
      calc(100vw * 10 / 640),
      calc(10px * 1024 / 640)
    );
  }

  .consult-phone-city {
    font-size: clamp(
      calc(16px * 580 / 640),
      calc(100vw * 16 / 640),
      calc(16px * 1024 / 640)
    );
  }

  .consult-phone-hours {
    font-size: clamp(
      calc(14px * 580 / 640),
      calc(100vw * 14 / 640),
      calc(14px * 1024 / 640)
    );
  }

  .consult-email-wrapper {
    gap: clamp(
      calc(10px * 580 / 640),
      calc(100vw * 10 / 640),
      calc(10px * 1024 / 640)
    );
  }

  .consult-email-label {
    font-size: clamp(
      calc(12px * 580 / 640),
      calc(100vw * 12 / 640),
      calc(12px * 1024 / 640)
    );
  }

  .consult-email-address {
    font-size: clamp(
      calc(24px * 580 / 640),
      calc(100vw * 24 / 640),
      calc(24px * 1024 / 640)
    );
  }

  .consult-details {
    gap: clamp(
      calc(20px * 580 / 640),
      calc(100vw * 20 / 640),
      calc(20px * 1024 / 640)
    );
  }

  .consult-details-text {
    font-size: clamp(
      calc(16px * 580 / 640),
      calc(100vw * 16 / 640),
      calc(16px * 1024 / 640)
    );
  }

  .consult-manager {
    gap: clamp(
      calc(26px * 580 / 640),
      calc(100vw * 26 / 640),
      calc(26px * 1024 / 640)
    );
  }

  .consult-manager-image {
    width: clamp(
      calc(100px * 580 / 640),
      calc(100vw * 100 / 640),
      calc(100px * 1024 / 640)
    );
  }

  .consult-manager-name {
    font-size: clamp(
      calc(16px * 580 / 640),
      calc(100vw * 16 / 640),
      calc(16px * 1024 / 640)
    );
  }

  .consult-manager-description {
    font-size: clamp(
      calc(14px * 580 / 640),
      calc(100vw * 14 / 640),
      calc(14px * 1024 / 640)
    );
  }

  .consult-form-wrapper {
    padding: clamp(
      calc(40px * 580 / 640),
      calc(100vw * 40 / 640),
      calc(40px * 1024 / 640)
    );
    gap: clamp(
      calc(24px * 580 / 640),
      calc(100vw * 24 / 640),
      calc(24px * 1024 / 640)
    );
  }

  .consult-form-title {
    font-size: clamp(
      calc(22px * 580 / 640),
      calc(100vw * 22 / 640),
      calc(22px * 1024 / 640)
    );
    text-align: center;
  }

  .consult-form {
    font-size: clamp(
      calc(18px * 580 / 640),
      calc(100vw * 18 / 640),
      calc(18px * 1024 / 640)
    );

    gap: clamp(
      calc(16px * 580 / 640),
      calc(100vw * 16 / 640),
      calc(16px * 1024 / 640)
    );
  }

  .consult-form-input-wrapper::before {
    width: clamp(
      calc(24px * 580 / 640),
      calc(100vw * 24 / 640),
      calc(24px * 1024 / 640)
    );

    left: clamp(
      calc(24px * 580 / 640),
      calc(100vw * 24 / 640),
      calc(24px * 1024 / 640)
    );
  }

  .consult-form > label,
  .consult-form button {
    padding: clamp(
        calc(20px * 580 / 640),
        calc(100vw * 20 / 640),
        calc(20px * 1024 / 640)
      )
      clamp(
        calc(24px * 580 / 640),
        calc(100vw * 24 / 640),
        calc(24px * 1024 / 640)
      );
  }

  .consult-form input:not([type="file"]):not([type="checkbox"]) {
    padding: clamp(
        calc(20px * 580 / 640),
        calc(100vw * 20 / 640),
        calc(20px * 1024 / 640)
      )
      clamp(
        calc(24px * 580 / 640),
        calc(100vw * 24 / 640),
        calc(24px * 1024 / 640)
      );
    padding-left: clamp(
      calc(64px * 580 / 640),
      calc(100vw * 64 / 640),
      calc(64px * 1024 / 640)
    );
  }

  .consult-form-file-label {
    gap: clamp(
      calc(14px * 580 / 640),
      calc(100vw * 14 / 640),
      calc(14px * 1024 / 640)
    );
  }

  .consult-form-file-label::before {
    width: clamp(
      calc(24px * 580 / 640),
      calc(100vw * 24 / 640),
      calc(24px * 1024 / 640)
    );
  }

  .consult-form-checkbox-wrapper {
    gap: clamp(
      calc(10px * 580 / 640),
      calc(100vw * 10 / 640),
      calc(10px * 1024 / 640)
    );
  }

  .consult-form-checkbox-wrapper input[type="checkbox"] {
    width: clamp(
      calc(20px * 580 / 640),
      calc(100vw * 20 / 640),
      calc(20px * 1024 / 640)
    );
    height: clamp(
      calc(20px * 580 / 640),
      calc(100vw * 20 / 640),
      calc(20px * 1024 / 640)
    );
  }

  .consult-form-checkbox-wrapper input[type="checkbox"]:checked::before {
    width: clamp(
      calc(10px * 580 / 640),
      calc(100vw * 10 / 640),
      calc(10px * 1024 / 640)
    );
    height: clamp(
      calc(10px * 580 / 640),
      calc(100vw * 10 / 640),
      calc(10px * 1024 / 640)
    );
  }

  .consult-form-checkbox-text {
    font-size: clamp(
      calc(13px * 580 / 640),
      calc(100vw * 13 / 640),
      calc(13px * 1024 / 640)
    );
    margin-bottom: 0;
  }

  .consult-form-text {
    font-size: clamp(
      calc(11px * 580 / 640),
      calc(100vw * 11 / 640),
      calc(11px * 1024 / 640)
    );
  }
}

@media screen and (max-width: 580px) {
  .main {
    gap: clamp(27px, 8.5vw, 49px);
  }

  .main-container {
    gap: clamp(20px, 6.4vw, 37px);
  }

  .policy-title {
    font-size: clamp(17px, 5.3vw, 30px);
    padding-bottom: clamp(32px, 10vw, 58px);
  }

  .policy {
    font-size: clamp(
      calc(14px * 320 / 375),
      calc(100vw * 14 / 375),
      calc(14px * 580 / 375)
    );
    gap: clamp(32px, 10vw, 58px);
  }

  .policy-subtitle {
    font-size: clamp(15px, 4.8vw, 28px);
  }

  .consult-content {
    padding: clamp(
      calc(10px * 320 / 375),
      calc(100vw * 10 / 375),
      calc(10px * 580 / 375)
    );
    gap: clamp(
      calc(42px * 320 / 375),
      calc(100vw * 42 / 375),
      calc(42px * 580 / 375)
    );
  }

  .consult-info {
    gap: clamp(
      calc(36px * 320 / 375),
      calc(100vw * 36 / 375),
      calc(36px * 580 / 375)
    );
  }

  .consult-phone-wrapper {
    flex-direction: column;
    gap: clamp(
      calc(36px * 320 / 375),
      calc(100vw * 36 / 375),
      calc(36px * 580 / 375)
    );
    width: fit-content;
  }

  .consult-phone-number {
    font-size: clamp(
      calc(25px * 320 / 375),
      calc(100vw * 25 / 375),
      calc(25px * 580 / 375)
    );
  }

  .consult-phone-details {
    gap: clamp(
      calc(10px * 320 / 375),
      calc(100vw * 10 / 375),
      calc(10px * 580 / 375)
    );
  }

  .consult-phone-city {
    font-size: clamp(
      calc(16px * 320 / 375),
      calc(100vw * 16 / 375),
      calc(16px * 580 / 375)
    );
  }

  .consult-phone-hours {
    font-size: clamp(
      calc(14px * 320 / 375),
      calc(100vw * 14 / 375),
      calc(14px * 580 / 375)
    );
  }

  .consult-email-wrapper {
    gap: clamp(
      calc(10px * 320 / 375),
      calc(100vw * 10 / 375),
      calc(10px * 580 / 375)
    );
  }

  .consult-email-label {
    font-size: clamp(
      calc(12px * 320 / 375),
      calc(100vw * 12 / 375),
      calc(12px * 580 / 375)
    );
  }

  .consult-email-address {
    font-size: clamp(
      calc(24px * 320 / 375),
      calc(100vw * 24 / 375),
      calc(24px * 580 / 375)
    );
  }

  .consult-details {
    gap: clamp(
      calc(26px * 320 / 375),
      calc(100vw * 26 / 375),
      calc(26px * 580 / 375)
    );
  }

  .consult-details-text {
    font-size: clamp(
      calc(14px * 320 / 375),
      calc(100vw * 14 / 375),
      calc(14px * 580 / 375)
    );
  }

  .consult-manager {
    gap: clamp(
      calc(24px * 320 / 375),
      calc(100vw * 24 / 375),
      calc(24px * 580 / 375)
    );
  }

  .consult-manager-image {
    width: clamp(
      calc(64px * 320 / 375),
      calc(100vw * 64 / 375),
      calc(64px * 580 / 375)
    );
  }

  .consult-manager-name {
    font-size: clamp(
      calc(14px * 320 / 375),
      calc(100vw * 14 / 375),
      calc(14px * 580 / 375)
    );
  }

  .consult-manager-description {
    font-size: clamp(
      calc(12px * 320 / 375),
      calc(100vw * 12 / 375),
      calc(12px * 580 / 375)
    );
  }

  .consult-form-wrapper {
    padding: clamp(
      calc(12px * 320 / 375),
      calc(100vw * 12 / 375),
      calc(12px * 580 / 375)
    );
    gap: clamp(
      calc(24px * 320 / 375),
      calc(100vw * 24 / 375),
      calc(24px * 580 / 375)
    );
  }

  .consult-form-title {
    font-size: clamp(
      calc(18px * 320 / 375),
      calc(100vw * 18 / 375),
      calc(18px * 580 / 375)
    );
    text-align: center;
  }

  .consult-form {
    font-size: clamp(
      calc(16px * 320 / 375),
      calc(100vw * 16 / 375),
      calc(16px * 580 / 375)
    );
    gap: clamp(
      calc(14px * 320 / 375),
      calc(100vw * 14 / 375),
      calc(14px * 580 / 375)
    );
  }

  .consult-form > label,
  .consult-form button {
    padding: clamp(
        calc(20px * 320 / 375),
        calc(100vw * 20 / 375),
        calc(20px * 580 / 375)
      )
      clamp(
        calc(24px * 320 / 375),
        calc(100vw * 24 / 375),
        calc(24px * 580 / 375)
      );
  }

  .consult-form-input-wrapper::before {
    width: clamp(
      calc(24px * 320 / 375),
      calc(100vw * 24 / 375),
      calc(24px * 580 / 375)
    );
    left: clamp(
      calc(24px * 320 / 375),
      calc(100vw * 24 / 375),
      calc(24px * 580 / 375)
    );
  }

  .consult-form input:not([type="file"]):not([type="checkbox"]) {
    padding: clamp(
        calc(20px * 320 / 375),
        calc(100vw * 20 / 375),
        calc(20px * 580 / 375)
      )
      clamp(
        calc(24px * 320 / 375),
        calc(100vw * 24 / 375),
        calc(24px * 580 / 375)
      );
    padding-left: clamp(
      calc(64px * 320 / 375),
      calc(100vw * 64 / 375),
      calc(64px * 580 / 375)
    );
  }

  .consult-form-file-label {
    gap: clamp(
      calc(14px * 320 / 375),
      calc(100vw * 14 / 375),
      calc(14px * 580 / 375)
    );
  }

  .consult-form-file-label::before {
    width: clamp(
      calc(24px * 320 / 375),
      calc(100vw * 24 / 375),
      calc(24px * 580 / 375)
    );
  }

  .consult-form-checkbox-wrapper {
    gap: clamp(
      calc(10px * 320 / 375),
      calc(100vw * 10 / 375),
      calc(10px * 580 / 375)
    );
  }

  .consult-form-checkbox-wrapper input[type="checkbox"] {
    width: clamp(
      calc(20px * 320 / 375),
      calc(100vw * 20 / 375),
      calc(20px * 580 / 375)
    );
    height: clamp(
      calc(20px * 320 / 375),
      calc(100vw * 20 / 375),
      calc(20px * 580 / 375)
    );
  }

  .consult-form-checkbox-wrapper input[type="checkbox"]:checked::before {
    width: clamp(
      calc(10px * 320 / 375),
      calc(100vw * 10 / 375),
      calc(10px * 580 / 375)
    );
    height: clamp(
      calc(10px * 320 / 375),
      calc(100vw * 10 / 375),
      calc(10px * 580 / 375)
    );
  }

  .consult-form-checkbox-text {
    font-size: clamp(
      calc(10px * 320 / 375),
      calc(100vw * 10 / 375),
      calc(10px * 580 / 375)
    );
  }

  .consult-form-text {
    font-size: clamp(
      calc(11px * 320 / 375),
      calc(100vw * 11 / 375),
      calc(11px * 580 / 375)
    );
  }
}
