.main {
  display: flex;
  flex-direction: column;
  gap: clamp(45px, 4.25vw, 60px);
  background-color: var(--color-dark);
}

.main-wrapper {
  position: relative;
  z-index: 20;
  background-color: white;
  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 40px;
}

.main-container {
  display: flex;
  flex-direction: column;
  gap: clamp(36px, 3.6vw, 51px);
  padding-block: clamp(25px, 2.4vw, 36px) clamp(45px, 4.25vw, 60px);
}

.product {
  display: flex;
  flex-direction: column;
  gap: clamp(36px, 3.6vw, 51px);
}

.product-main {
  display: flex;
  justify-content: center;
  gap: clamp(16px, 1.6vw, 22px);
}

.product-image {
  width: 26vw;
  aspect-ratio: 1/1;
  height: auto;
}

.product-content {
  display: flex;
  flex-direction: column;
  gap: clamp(16px, 1.6vw, 22px);
  padding: clamp(28px, 2.8vw, 40px);
}

.product-badges {
  display: flex;
  gap: 4px;
  flex-wrap: wrap;
}

.product-badge {
  width: fit-content;
  padding-inline: clamp(6px, 0.6vw, 10px);
  font-size: clamp(6px, 0.6vw, 10px);
  text-transform: uppercase;
  line-height: 220%;
  border-radius: 5px;
}

.product-badge--prof {
  color: #eb4b4b;
  background-color: rgba(226, 109, 92, 0.12);
}

.product-badge--corp {
  color: #ed673c;
  background-color: rgba(201, 48, 44, 0.12);
}

.product-badge--base {
  color: var(--color-green);
  background-color: var(--color-lightgreen);
}

.product-badge--kit {
  color: #8847ff;
  background-color: rgba(139, 92, 246, 0.12);
}

.product-title {
  font-size: clamp(22px, 2.2vw, 30px);
  font-weight: 700;
  letter-spacing: -2%;
}

.product-delivery {
  font-size: clamp(10px, 1vw, 14px);
  color: #8c8c8c;
}

.product-price {
  font-size: clamp(19px, 1.9vw, 27px);
  font-weight: 700;
  line-height: 150%;
}

.product-actions {
  display: flex;
  align-items: stretch;
  gap: clamp(6px, 0.6vw, 10px);
}

.product-counter {
  padding: clamp(6px, 0.6vw, 10px);
  display: flex;
  align-items: center;
  border: 1px solid rgba(21, 30, 48, 0.12);
  border-radius: 100px;
}

.product-counter-btn {
  width: clamp(
    calc(57px * 1025 / 1400 * var(--zoom-1)),
    calc(100vw * 57 / 1400 * var(--zoom-1)),
    calc(57px * 1440 / 1400 * var(--zoom-1))
  );
  height: clamp(
    calc(57px * 1025 / 1400 * var(--zoom-1)),
    calc(100vw * 57 / 1400 * var(--zoom-1)),
    calc(57px * 1440 / 1400 * var(--zoom-1))
  );
  display: flex;
  align-items: center;
  justify-content: center;
  background: #dfe1e380;
  font-size: clamp(12px, 1.2vw, 18px);
  color: var(--color-dark);
  border-radius: 100px;
  transition: 0.3s ease;
}

@media (hover: hover) {
  .product-counter-btn:hover {
    background-color: var(--color-primary);
    color: white;
  }
}

.product-counter-number {
  width: clamp(
    calc(63px * 1025 / 1400 * var(--zoom-1)),
    calc(100vw * 63 / 1400 * var(--zoom-1)),
    calc(63px * 1440 / 1400 * var(--zoom-1))
  );
  display: inline-block;
  font-size: clamp(12px, 1.2vw, 18px);
  line-height: 150%;
  text-align: center;
  font-weight: 600;
}

.product-cart {
  font-size: clamp(12px, 1.2vw, 17px);
  padding: clamp(
      calc(26px * 1025 / 1400 * var(--zoom-1)),
      calc(100vw * 26 / 1400 * var(--zoom-1)),
      calc(26px * 1440 / 1400 * var(--zoom-1))
    )
    clamp(
      calc(64px * 1025 / 1400 * var(--zoom-1)),
      calc(100vw * 64 / 1400 * var(--zoom-1)),
      calc(64px * 1440 / 1400 * var(--zoom-1))
    );
  border-radius: 100px;
  background-color: var(--color-primary);
  color: #fff;
  font-weight: 600;
}

.product-description {
  padding: clamp(20px, 2vw, 28px) clamp(10px, 1vw, 14px);
  background-color: #f8f8f8;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  gap: clamp(16px, 1.6vw, 22px);
}

.product-subtitle {
  font-size: clamp(12px, 1.2vw, 17px);
  font-weight: 700;
  line-height: 120%;
  padding-inline: clamp(10px, 1vw, 14px);
}

.product-text {
  font-size: clamp(9px, 0.85vw, 12px);
  line-height: 140%;
  font-weight: 500;
  padding-inline: clamp(10px, 1vw, 14px);
}

.product-features {
  padding: clamp(10px, 1vw, 14px);
  border-left: 3px solid var(--color-primary);
  display: flex;
  flex-direction: column;
  gap: clamp(12px, 1.2vw, 17px);
  line-height: 140%;
}

.product-features-title {
  font-size: clamp(9px, 0.85vw, 12px);
  font-weight: 700;
}

.product-features-list {
  display: flex;
  flex-direction: column;
  gap: clamp(12px, 1.2vw, 17px);
}

.product-features-group {
  font-size: clamp(9px, 0.85vw, 12px);
  font-weight: 700;
  list-style: decimal;
  margin-left: clamp(12px, 1.2vw, 17px);
}

.product-features-group-list {
  list-style: disc;
  font-size: clamp(9px, 0.85vw, 12px);
  font-weight: 500;
}

.related {
  display: flex;
  flex-direction: column;
  gap: clamp(25px, 2.4vw, 36px);
}

.related-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.related-slider-controls {
  display: flex;
  gap: calc(clamp(10px, 0.7vw, 14px) * var(--zoom-1));
  align-items: center;
  justify-self: end;
}

.related-slider-btn {
  width: calc(clamp(60px, 4.28vw, 73px) * var(--zoom-1));
  height: calc(clamp(60px, 4.28vw, 73px) * var(--zoom-1));
  aspect-ratio: 1;
  border-radius: 8px;
  background-color: var(--color-primary);
  border: 1.5px solid var(--color-primary);
  color: white;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.related-slider-btn svg {
  width: calc(clamp(24px, 1.7vw, 30px) * var(--zoom-1));
  height: calc(clamp(24px, 1.7vw, 30px) * var(--zoom-1));
}

.related-slider-btn.backward svg {
  transform: rotate(90deg);
}

.related-slider-btn.forward svg {
  transform: rotate(270deg);
}

.related-slider-btn:disabled {
  color: var(--color-primary);
  background-color: transparent;
  border-color: rgba(50, 132, 255, 0.2);
}

.related-slider {
  width: 100%;
  overflow: hidden;
}

.related-list {
  display: flex;
  align-items: stretch;
  max-width: 100%;
}

.related-item {
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  width: calc((100% - (clamp(16px, 1.6vw, 22px) * 2)) / 3);
  margin-right: clamp(16px, 1.6vw, 22px);
  height: auto;
  border-radius: 20px;
  overflow: hidden;
  border: 2px solid #f4f5f7;
}

.related-item:last-child {
  margin-right: 0;
}

.related-item-image {
  width: 100%;
  aspect-ratio: 2/1;
  object-fit: cover;
}

.related-item-content-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: clamp(12px, 1.2vw, 17px);
  padding: clamp(15px, 1.45vw, 20px);
  justify-content: space-between;
}

.related-item-content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: clamp(12px, 1.2vw, 17px);
}

.related-item-icons {
  display: flex;
  gap: clamp(6px, 0.6vw, 8px);
}

.related-item-icon {
  width: 100%;
  height: clamp(25px, 2.4vw, 36px);
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f7f8fa;
  border-radius: 8px;
}

.related-item-icon img {
  width: auto;
  height: 60%;
  object-fit: contain;
  max-width: 60%;
}

.related-item-info {
  display: flex;
  flex-direction: column;
  gap: clamp(6px, 0.6vw, 8px);
}

.related-item-name {
  font-size: clamp(12px, 1.2vw, 17px);
  font-weight: 700;
}

.related-item-description {
  font-size: clamp(10px, 1vw, 14px);
  line-height: 135%;
  font-weight: 500;
  color: var(--color-grayblue);
}

.related-item-details {
  display: flex;
  flex-direction: column;
  gap: clamp(8px, 0.85vw, 12px);
  font-size: clamp(8px, 0.85vw, 12px);
  line-height: 160%;
  font-weight: 600;
}

.related-item-details-list {
  display: flex;
  flex-direction: column;
  gap: clamp(8px, 0.85vw, 12px);
  color: var(--color-grayblue);
}

.related-item-link {
  padding-block: clamp(12px, 1.2vw, 18px);
  width: 100%;
  text-align: center;
  font-size: clamp(
    calc(16px * 1025 / 1400 * var(--zoom-1)),
    calc(100vw * 16 / 1400 * var(--zoom-1)),
    calc(16px * 1440 / 1400 * var(--zoom-1))
  );
  font-weight: 700;
  background: var(--color-primary);
  color: white;
  border-radius: 10px;
  justify-self: flex-end;
}

@media screen and (min-width: 2000px) {
  .main {
    gap: 80px;
  }

  .main-container {
    gap: 70px;
    padding-block: 46px 80px;
  }

  .product {
    gap: 70px;
  }

  .product-main {
    gap: 30px;
  }

  .product-content {
    gap: 30px;
    padding: 53px;
  }

  .product-badge {
    font-size: 14px;
    padding-inline: 14px;
  }

  .product-title {
    font-size: 41px;
  }

  .product-delivery {
    font-size: 18px;
  }

  .product-price {
    font-size: 37px;
  }

  .product-actions {
    gap: 14px;
  }

  .product-counter {
    gap: 14px;
  }

  .product-counter-btn {
    width: clamp(
      calc(57px * 1025 / 1400 * var(--zoom-2)),
      calc(100vw * 57 / 1400 * var(--zoom-2)),
      calc(57px * 1440 / 1400 * var(--zoom-2))
    );
    height: clamp(
      calc(57px * 1025 / 1400 * var(--zoom-2)),
      calc(100vw * 57 / 1400 * var(--zoom-2)),
      calc(57px * 1440 / 1400 * var(--zoom-2))
    );
    font-size: 25px;
  }

  .product-counter-number {
    width: clamp(
      calc(63px * 1025 / 1400 * var(--zoom-2)),
      calc(100vw * 63 / 1400 * var(--zoom-2)),
      calc(63px * 1440 / 1400 * var(--zoom-2))
    );
    font-size: 25px;
  }

  .product-cart {
    font-size: 23px;
    padding: clamp(
        calc(26px * 1025 / 1400 * var(--zoom-2)),
        calc(100vw * 26 / 1400 * var(--zoom-2)),
        calc(26px * 1440 / 1400 * var(--zoom-2))
      )
      clamp(
        calc(64px * 1025 / 1400 * var(--zoom-2)),
        calc(100vw * 64 / 1400 * var(--zoom-2)),
        calc(64px * 1440 / 1400 * var(--zoom-2))
      );
  }

  .product-description {
    padding: 37px 18px;
    gap: 30px;
  }

  .product-subtitle {
    font-size: 23px;
    padding-inline: 18px;
  }

  .product-text {
    font-size: 16px;
    padding-inline: 18px;
  }

  .product-features {
    padding: 18px;
    gap: 23px;
  }

  .product-features-title {
    font-size: 16px;
  }

  .product-features-list {
    gap: 23px;
  }

  .product-features-group {
    font-size: 16px;
    margin-left: 23px;
  }

  .product-features-group-list {
    font-size: 16x;
  }

  .related {
    gap: 46px;
  }

  .related-slider-controls {
    gap: calc(clamp(10px, 0.7vw, 14px) * var(--zoom-2));
  }

  .related-slider-btn {
    width: calc(clamp(60px, 4.28vw, 73px) * var(--zoom-2));
    height: calc(clamp(60px, 4.28vw, 73px) * var(--zoom-2));
  }

  .related-slider-btn svg {
    width: calc(clamp(24px, 1.7vw, 30px) * var(--zoom-2));
    height: calc(clamp(24px, 1.7vw, 30px) * var(--zoom-2));
  }

  .related-item-content-wrapper {
    gap: 23px;
    padding: 28px;
  }

  .related-item-content {
    gap: 23px;
  }

  .related-item-icons {
    gap: 12px;
  }

  .related-item-icon {
    height: 46px;
  }

  .related-item-info {
    gap: 12px;
  }

  .related-item-name {
    font-size: 23px;
  }

  .related-item-description {
    font-size: 18px;
  }

  .related-item-details {
    gap: 16px;
    font-size: 16px;
  }

  .related-item-details-list {
    gap: 16px;
  }

  .related-item-link {
    padding-block: 23px;
    font-size: clamp(
      calc(16px * 1025 / 1400 * var(--zoom-2)),
      calc(100vw * 16 / 1400 * var(--zoom-2)),
      calc(16px * 1440 / 1400 * var(--zoom-2))
    );
  }
}

@media screen and (max-width: 850px) {
  .main {
    gap: clamp(45px, 7.8vw, 66px);
  }

  .main-container {
    gap: clamp(29px, 5vw, 42px);
    padding-block: clamp(38px, 6.5vw, 56px);
  }

  .product {
    gap: clamp(29px, 5vw, 42px);
  }

  .product-main {
    flex-direction: column;
    gap: clamp(22px, 3.75vw, 32px);
  }

  .product-image {
    width: 44vw;
    margin: 0 auto;
  }

  .product-content {
    gap: clamp(22px, 3.75vw, 32px);
    padding: 0;
    align-items: center;
  }

  .product-badge {
    font-size: clamp(11px, 1.9vw, 15px);
    padding-inline: clamp(11px, 1.9vw, 15px);
  }

  .product-title {
    font-size: clamp(32px, 5.6vw, 48px);
  }

  .product-delivery {
    font-size: clamp(14px, 2.5vw, 21px);
  }

  .product-price {
    font-size: clamp(29px, 5vw, 42px);
  }

  .product-actions {
    gap: clamp(9px, 1.5vw, 13px);
  }

  .product-counter {
    padding: clamp(9px, 1.5vw, 13px);
  }

  .product-counter-btn {
    width: clamp(51px, 8.9vw, 75px);
    height: clamp(51px, 8.9vw, 75px);
    font-size: clamp(20px, 3.4vw, 29px);
  }

  .product-counter-number {
    width: clamp(51px, 8.9vw, 75px);
    font-size: clamp(20px, 3.4vw, 29px);
  }

  .product-cart {
    font-size: clamp(18px, 3.1vw, 26px);
    padding: clamp(24px, 4vw, 34px) clamp(60px, 11.8vw, 80px);
  }

  .product-description {
    gap: clamp(24px, 4vw, 34px);
    padding: clamp(29px, 5vw, 42px) clamp(14px, 2.5vw, 21px);
  }

  .product-subtitle {
    font-size: clamp(18px, 3.1vw, 26px);
    padding-inline: clamp(14px, 2.5vw, 21px);
  }

  .product-text {
    font-size: clamp(13px, 2.2vw, 18px);
    padding-inline: clamp(14px, 2.5vw, 21px);
  }

  .product-features {
    padding: clamp(14px, 2.5vw, 21px);
    gap: clamp(18px, 3.1vw, 26px);
  }

  .product-features-title {
    font-size: clamp(13px, 2.2vw, 18px);
  }

  .product-features-list {
    gap: clamp(18px, 3.1vw, 26px);
  }

  .product-features-group {
    font-size: clamp(13px, 2.2vw, 18px);
    margin-left: clamp(18px, 3.1vw, 26px);
  }

  .product-features-group-list {
    font-size: clamp(13px, 2.2vw, 18px);
  }

  .related {
    gap: clamp(36px, 6.25vw, 53px);
  }

  .related-slider-controls {
    gap: clamp(9px, 1.5vw, 13px);
  }

  .related-slider {
    width: 100%;
    overflow: hidden;
  }

  .related-list {
    display: flex;
    align-items: stretch;
    max-width: 100%;
    gap: 0;
  }

  .related-item {
    flex-shrink: 0;
    width: max(287px, 44vw);
    margin-right: clamp(24px, 4vw, 34px);
    height: auto;
  }

  .related-item-image {
    aspect-ratio: 3/2;
  }

  .related-item-content-wrapper {
    height: auto;
    flex-grow: 1;
    padding: clamp(22px, 3.75vw, 32px);
    gap: clamp(18px, 3.1vw, 26px);
  }

  .related-item-content {
    gap: clamp(18px, 3.1vw, 26px);
  }

  .related-item-icons {
    flex-direction: column;
    gap: clamp(9px, 1.5vw, 13px);
  }

  .related-item-icon {
    height: clamp(36px, 6.25vw, 53px);
  }

  .related-item-info {
    gap: clamp(9px, 1.5vw, 13px);
  }

  .related-item-name {
    font-size: clamp(18px, 3.1vw, 26px);
  }

  .related-item-description {
    font-size: clamp(13px, 2.2vw, 18px);
  }

  .related-item-details {
    gap: clamp(9px, 1.5vw, 13px);
    font-size: clamp(13px, 2.2vw, 18px);
  }

  .related-item-details-list {
    gap: clamp(9px, 1.5vw, 13px);
  }

  .related-item-link {
    font-size: clamp(14px, 2.5vw, 21px);
    padding-block: clamp(18px, 3.1vw, 26px);
  }
}

@media screen and (max-width: 580px) {
  .main {
    gap: clamp(27px, 8.5vw, 49px);
  }

  .main-container {
    gap: clamp(20px, 6.4vw, 37px);
  }

  .product {
    gap: clamp(20px, 6.4vw, 37px);
  }

  .product-main {
    gap: clamp(32px, 10vw, 58px);
  }

  .product-image {
    width: 100%;
  }

  .product-content {
    gap: clamp(12px, 3.7vw, 22px);
    align-items: flex-start;
  }

  .product-badge {
    font-size: clamp(10px, 3.2vw, 18px);
  }

  .product-title {
    font-size: clamp(17px, 5.3vw, 30px);
  }

  .product-delivery {
    font-size: clamp(14px, 4.2vw, 25px);
  }

  .product-price {
    font-size: clamp(20px, 6.4vw, 37px);
  }

  .product-actions {
    width: 100%;
    gap: clamp(8px, 2.6vw, 15px);
  }

  .product-counter {
    padding: clamp(4px, 1.3vw, 7px);
  }

  .product-counter-btn {
    width: clamp(26px, 8vw, 46px);
    height: clamp(26px, 8vw, 46px);
    font-size: clamp(10px, 3.2vw, 18px);
  }

  .product-counter-number {
    gap: clamp(27px, 8.5vw, 49px);
    font-size: clamp(10px, 3.2vw, 18px);
  }

  .product-cart {
    flex-grow: 1;
    padding-block: clamp(10px, 3.2vw, 18px);
    font-size: clamp(12px, 3.7vw, 22px);
  }

  .product-description {
    padding: clamp(27px, 8.5vw, 49px) clamp(14px, 4.2vw, 25px);
    gap: clamp(22px, 7vw, 40px);
  }

  .product-subtitle {
    font-size: clamp(15px, 4.8vw, 28px);
    padding-inline: clamp(14px, 4.2vw, 25px);
  }

  .product-text {
    font-size: clamp(12px, 3.7vw, 22px);
    padding-inline: clamp(14px, 4.2vw, 25px);
  }

  .product-features {
    padding: clamp(14px, 4.2vw, 25px);
    gap: clamp(15px, 4.8vw, 28px);
  }

  .product-features-title {
    font-size: clamp(12px, 3.7vw, 22px);
  }

  .product-features-list {
    gap: clamp(15px, 4.8vw, 28px);
  }

  .product-features-group {
    font-size: clamp(12px, 3.7vw, 22px);
    margin-left: clamp(15px, 4.8vw, 28px);
  }

  .product-features-group-list {
    font-size: clamp(12px, 3.7vw, 22px);
  }

  .related {
    gap: clamp(32px, 10vw, 58px);
  }

  .related-item {
    width: calc(100vw - (2 * 5.3vw));
  }

  .related-item-image {
    aspect-ratio: 3.3/2;
  }

  .related-item-content-wrapper {
    padding: clamp(20px, 6.4vw, 37px);
    gap: clamp(17px, 5.3vw, 30px);
  }

  .related-item-content {
    gap: clamp(17px, 5.3vw, 30px);
  }

  .related-item-icons {
    flex-direction: row;
    gap: clamp(8px, 2.6vw, 15px);
  }

  .related-item-icon {
    height: clamp(32px, 10vw, 58px);
  }

  .related-item-info {
    gap: clamp(8px, 2.6vw, 15px);
  }

  .related-item-name {
    font-size: clamp(15px, 4.8vw, 28px);
  }

  .related-item-description {
    font-size: clamp(12px, 3.7vw, 22px);
  }

  .related-item-details {
    gap: clamp(8px, 2.6vw, 15px);
    font-size: clamp(12px, 3.7vw, 22px);
  }

  .related-item-details-list {
    gap: clamp(8px, 2.6vw, 15px);
  }

  .related-item-link {
    font-size: clamp(14px, 4.2vw, 25px);
    padding-block: clamp(14px, 4.2vw, 25px);
  }
}
